@font-face {
    font-family: "Fjalla";
    src: url("../fonts/FjallaOne-Regular.ttf");
}

@font-face {
    font-family: "WorkSans-Regular";
    src: url("../fonts/WorkSans-Regular.ttf");
}

@font-face {
    font-family: "WorkSans-Light";
    src: url("../fonts/WorkSans-Light.ttf");
}

@font-face {
    font-family: "WorkSans-Medium";
    src: url("../fonts/WorkSans-Medium.ttf");
}

@font-face {
    font-family: "WorkSans-Bold";
    src: url("../fonts/WorkSans-Bold.ttf");
}

@font-face {
    font-family: "WorkSans-ExtraBold";
    src: url("../fonts/WorkSans-ExtraBold.ttf");
}

@font-face {
    font-family: "Didact";
    src: url("../fonts/DidactGothic-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-graylight: #9e9e9e; 
    --color-white: #fff;
    --color-black: #000;
    --color-graydark: #333;
    --color-gray: #666;
}

body{
    min-width: 1200px;
}

header{
    margin: 20px auto;
}

header p{
    margin-top: 20px;
    font-family: "WorkSans-Regular";
    font-size: 20px;
    font-weight: 400;
    line-height: 23.46px;
    text-align: center;
    
}

header h1{
    margin-top: 30px;
    font-family: "Didact";
    font-size: 100px;
    font-weight: 400;
    line-height: 130px;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--color-black);
}

header img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 720px;
    margin: 60px auto;
}

header h2{
    font-family: "WorkSans-Regular";
    font-size: 160px;
    font-weight: 400;
    line-height: 185px;
    text-align: center;
}

.portfolio2{
    background-color: rgb(0, 0, 0, 0.3);
    background-image: url("../img/portfolio2.jpg");
    background-attachment: fixed;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

.portfolio4{
    background-color: rgb(0, 0, 0, 0.3);
    background-image: url("../img/portfolio4.jpg");
    background-attachment: fixed;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

section p{
    font-family: "WorkSans-Regular";
    font-size: 20px;
    font-weight: 400;
    line-height: 23.46px;
    letter-spacing: -0.05em;
    text-align: left;
    color: var(--color-graylight);
    margin-left: 8rem;
    
}

section .jahren{
    padding-top: 7rem;
}

section .text{
    padding-top: 3rem;
    
}

.portfolio2 h3, .portfolio4 h3{
    font-family: "Didact";
    font-size: 112px;
    font-weight: 400;
    line-height: 146.83px;
    text-align: left;
    color: var(--color-white);
    margin-left: 7rem;
}

div{
    margin-left: 8rem;
    margin-top: 4rem;
}

.white{
    background: none;
    padding: 1rem;
    border: 2px solid var(--color-white);
}

a{
    font-family: "Fjalla";
    font-size: 16px;
    font-weight: 400;
    line-height: 20.11px;
    text-align: left;
    text-decoration: none;
    color: var(--color-graylight);
}

.portfolio2 h4, .portfolio4 h4{
    font-family: "Fjalla";
    font-size: 165px;
    font-weight: 400;
    line-height: 207.38px;
    letter-spacing: -0.02em;
    text-align: right;
    color: var(--color-graylight);
    padding-top: 2rem;
    padding-right: 3rem;
}

.white:hover{
    background: var(--color-white);
}

.white:hover a{
    color: var(--color-black);
}

.white:hover ~ h4 {
    color: var(--color-white);
}

.portfolio3{
    background-image: url("../img/portfolio3.png");
    background-attachment: fixed;
    height: 110vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.portfolio5{
    background-image: url("../img/portfolio5.png");
    background-attachment: fixed;
    height: 110vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.portfolio3 h3, .portfolio5 h3{
    font-family: "Didact";
    font-size: 112px;
    font-weight: 400;
    line-height: 146.83px;
    text-align: left;
    color: var(--color-black);
    margin-left: 7rem;
}

.portfolio3 h4, .portfolio5 h4{
    font-family: "Fjalla";
    font-size: 165px;
    font-weight: 400;
    line-height: 207.38px;
    letter-spacing: -0.02em;
    text-align: right;
    color: var(--color-graylight);
    padding-top: 2rem;
    padding-right: 3rem;
}

.black{
    background: none;
    padding: 1rem;
    border: 2px solid var(--color-black);
}

.black:hover{
    background: var(--color-black);
}

.black:hover a{
    color: var(--color-white);
}

.black:hover ~ h4 {
    color: var(--color-black);
}

.white:hover{
    background: var(--color-black);
}

.white:hover a{
    color: var(--color-white);
}

.white:hover ~ h4 {
    color: var(--color-black);
}

article{
    background-color: var(--color-black);
    height: 105vh;
    min-height: 850px;
}

article h2{
    font-family: "WorkSans-Regular";
    font-size: 180px;
    font-weight: 400;
    line-height: 211.14px;
    letter-spacing: -0.1em;
    text-align: center;
    padding-top: 4rem;
    color: var(--color-white);
}

article p{
    font-family: "WorkSans-Regular";
    font-size: 22px;
    font-weight: 400;
    line-height: 39.6px;
    letter-spacing: 0.01em;
    text-align: left;
    color: var(--color-gray);
    margin-top: 5rem;
    margin-left: 50vw;
    margin-right: 10vw;
}

article a{
    font-family: "WorkSans-Regular";
    font-size: 60px;
    font-weight: 400;
    line-height: 70.38px;
    letter-spacing: -0.06em;
    display: block;
    /* text-align: center; */
    text-decoration: none;
    color: var(--color-white);
    margin-top: 6rem;
    margin-left: 50vw;
}

article a:hover{
    text-decoration: underline;
}

footer{
    text-align: center;
}

footer a{
    font-family: "Didact";
    color: var(--color-black);
    font-size: 7.5em;
    text-decoration: none;
}

footer p{
    padding-top: 10em;
}

.heart{
    margin-bottom: 5em;
}

a:hover{
    text-decoration: underline;
    }

.heart{
    animation: pulse 2s infinite;
}

@keyframes pulse{
    0% {
        transform: scale(0.9);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.9);}
}